%h1 Got the time
%p
  Wake up, got another day to get,
  %br/
  Through now, got another man to see
  %br/
  Gotta call him on the telephone ay o
  %br/
  Gotta find a piece of paper
  %br/
  Sit down, got another letter to write,
  %br/
  Think hard, gotta get a letter just right
  %br/
  Little ringin' on the telephone oh no,
  %br/
  Gotta write another letter
  %br/
  No such thing as tomorrow
  %br/
  All we want
  %br/
  Two, three, go!
  %br/
  Time, got the time tick tick tickin' in my head
  %br/
  Time, got the time tick tick tickin' in my head
  %br/
  Time, got the time tick tick tickin' in my head
  %br/
  Tickin' in my head, tickin' in my head, tickin' in my head
  %br/
  If i, tell ya what I'm doing today
  %br/
  Will you, shut up and get out of my way
  %br/
  Someone ask me what the time is, I don't know
  %br/
  Only know I gotta go now
  %br/
  No time, tryin' ta get a watch repaired
  %br/
  No time, never got a thing to wear
  %br/
  Little ringin' on the telephone
  %br/
  Oh no, hear a ringin' in my head now
  %br/
  No such thing as tomorrow
  %br/
  All we want
  %br/
  Two, three, go!
  %br/
  Time, got the time tick tick tickin' in my head
  %br/
  Time, got the time tick tick tickin' in my head
  %br/
  Time, got the time tick tick tickin' in my head
  %br/
  Tickin' in my head, tickin' in my head, tickin' in my head
  %br/
  No such thing as tomorrow
  %br/
  All we want
  %br/
  Two, three, go!
  %br/
  Time, got the time tick tick tickin' in my head
  %br/
  Time, got the time tick tick tickin' in my head
  %br/
  Time, got the time tick tick tickin' in my head
  %br/
  Tickin' in my head, tickin' in my head
  %br/
  Tickin' in my head!
